/* Write common css style here. */

.gray {color: gray;}
.white {color: white;}
.balck {color: black;}
.red {color: red;}
.green {color: green;}	
.blue {color: blue;}
.yellow {color: #daa520;}
.pink {color: #ff1493;}
.purple {color: purple;}
