{extends file='cmn/layout/index.tpl'}

{block name="head"}
	<!-- Write meta tag and link tag here. -->
	<!-- <link rel="stylesheet" href="/cmn/css/style_name.css" type="text/css" media="screen"> -->
	<link href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
{/block}	

{block name="title"}<!--{$className}--> Add{/block}

<!-- Ajax search form -->
{block name="body"}
<div class="container">
<div class="page-header">
	<div class="row">
		<div class="col-lg-12">
		<h1><!--{$className}--> Add</h1>
		<section id="<!--{$className}-->Form">
			{include file='<!--{$pageName}-->/includes/autoAddForm.inc'}
		</section>
		</div><!-- /col-lg-12 -->
	</div><!-- /row -->
</div><!-- /page-header -->
</div><!-- /container -->
{/block}	

{block name="footer"}
	<!-- Write loading javascript tag here. -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/<!--{$pageName}-->/js/<!--{$className}-->Post.js" type="text/javascript" charset="utf-8"></script>
{/block}
