#map {
	width:600px;
	height:600px;
	margin-right:5px;
}
#spotDetail {
	width:400px;
	height:200px;
	border: solid 1px #ccc;
	overflow:scroll;
}
#spotList {
	margin-top:10px;
	width:400px;
	height:600px;
	border: solid 1px #bbb;
	overflow:scroll;
}
